digraph main {
	graph [rankdir=LR]
	node [fontsize=6 shape=rectangle style=filled]
	{% for subgraph in subgraphs %}
	subgraph "{{ subgraph.type }}" {
		graph [rank=same]
		node [color="{{ subgraph.color }}"]
		{% for node in subgraph.nodes %}
		"{{ node.id }}"
		{% endfor %}
	}
	{% endfor %}
	{% for subgraph in subgraphs %}
		{% for node in subgraph.nodes %}
			{% for link in node.links %}
		"{{ link }}" -> "{{ node.id }}";
			{% endfor %}
		{% endfor %}
	{% endfor %}
}
