blockdiag {
{% for key, value in diag.items() %}
    {{ key }} = {{ value }};
{% endfor %}

{% for node in nodes %}
    {{ node.id }} [color = "{{ node.color }}"];
    {{ node.id }} [label = "{{ node.label }}"];
    {% for link in node.links %}
        {{ link }} -> {{ node.id }};
    {% endfor %}

{% endfor %}
}